/* Root Container */
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 3em var(--white));
}

/* Header */
h1 {
  margin: 1rem auto;
}

/* Highlight Text */
.high-light {
  color: var(--blue);
  font-weight: bold;
}

.high-light:hover {
  filter: drop-shadow(0 0 2em var(--blue));
  cursor: pointer;
}

/* Title */
.title {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

/* To-do Image */
.todo-image {
  width: 25rem;
  height: auto;
  margin: 0 auto;
}

/* Image Show Hover */
.img-show {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.img-show img,
.img-show .icon {
  color: var(--lapiz);
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: width 0.4s ease, height 0.4s ease, opacity 0.4s ease;
}

.img-show:hover {
  gap: 0.5rem;
}

.img-show:hover img,
.img-show:hover .icon {
  width: auto;
  height: 1rem;
  opacity: 1;
}

/* Home Container */
.home-container {
  display: flex;
  width: 60%;
  gap: 1rem;
  padding: 2rem;
  height: 100vh;
  overflow: hidden;
}

.home-container textarea {
  background-color: var(--white);
  color: var(--black);
  font-size: 1rem;
  border: none;
  outline: none;
  resize: none;
  padding: 0.5rem;
  width: 100%;
  transition: box-shadow 0.2s ease;
}

.home-container textarea:focus {
  box-shadow: inset 0 0 0.2rem var(--light-blue);
}

/* Todo List */
.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  color: var(--black);
  background-color: var(--white);
  width: 300px;
  height: 82vh;
  position: relative;
  overflow: hidden;
}

/* Todo Header */
.todo-list .todo-header {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
  z-index: 2;
}

.todo-list .todo-header svg {
  font-size: 2rem;
  color: var(--lapiz);
}

.todo-list .todo-header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin: 0;
  width: 100%;
}

#todo-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  overflow-y: auto;
  max-height: 100vh;
  padding-right: 0.5rem;
  height: 100%;
  z-index: 2;
}

#todo-list-container::-webkit-scrollbar,
.todo-activity-list::-webkit-scrollbar {
  width: 5px;
}

#todo-list-container::-webkit-scrollbar-thumb,
.todo-activity-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

button {
  outline: none !important;
}

/* Todo Table Item */
.todo-table-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  min-width: 0;
}

.todo-table-item:hover,
.todo-table-item.active,
.custom-textarea-container.active {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.todo-table-item svg {
  font-size: 1.5rem;
  color: var(--lapiz);
}

/* Todo Item Body */
.todo-table-item .body {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-align: left;
  color: var(--dark-blue);
}

.todo-table-item .body > div {
  display: flex;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  align-items: center;
  gap: 0.2rem;
  margin: 0;
  padding: 0;
}

.todo-table-item .body h2 {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 1rem;
}

.todo-table-item .body svg {
  font-size: 0.3rem;
  color: gray;
  flex-shrink: 0;
}

.todo-table-item .body > div > p {
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: auto;
  margin: 0;
  font-size: 0.8rem;
  color: gray;
  text-align: right;
}

.todo-table-item .body p.description {
  flex-shrink: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 0.8rem;
  color: gray;
}

.todo-table-item .activity {
  flex-shrink: 0;
  margin-left: 0.5rem;
  font-size: 1rem;
  white-space: nowrap;
}

/* Todo Preview */
.todo-preview {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 2rem;
  color: var(--black);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

/* Todo Preview Header */
.todo-preview .todo-header {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
  border-radius: 1rem;
}

.todo-preview .todo-header svg {
  font-size: 1.2rem;
  color: var(--lapiz);
}

.todo-preview .todo-header div {
  display: flex;
  align-items: center;
}

.pin-btn,
.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  outline: none;
  padding: 0.2rem;
}

/* Todo Activities */
.todo-preview .todo-activities {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Activity List */
.todo-activity-list {
  width: 100%;
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 50vh;
  padding: 0.5rem;
  z-index: 1;
}

.todo-activity-item {
  display: flex;
  width: 100%;
  align-items: start;
  gap: 1rem;
  padding: 1rem auto;
}

/* Activity Remove Button */
.activity-remove-btn {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
  transition: color 0.2s ease;
  padding: 0;
  margin: 0.5rem auto;
}

.activity-remove-btn:hover {
  color: darkred;
}

@media (max-width: 990px) {
  .home-container {
    width: 100%;
    flex-direction: column;
    padding: 1rem;
  }

  .todo-preview {
    display: none;
  }

  .todo-list {
    display: block;
    align-self: center;
    width: 80%;
    max-width: none;
    height: 100%;
  }

  .home-container.show-preview .todo-preview {
    display: flex;
    width: 100%;
    height: auto;
  }

  .home-container.show-preview .todo-list {
    display: none;
  }

  .home-container:not(.show-preview) .todo-list {
    display: block;
  }

  .home-container:not(.show-preview) .todo-preview {
    display: none;
  }
}

@media (max-width: 1500px) {
  .home-container {
    width: 80%;
  }
}
